@using test.Models.ViewModels
@model SchoolClassViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Class Details</h2>
<p>@Html.DisplayNameFor(x => x.Name): @Html.DisplayFor(x => x.Name)</p>
<div class="col-md-6 float-left">
    @{ Html.RenderAction("Pupils", "Pupil", new { id = Model.Id }); }
    @using (Html.BeginForm("CreatePupil", "Pupil"))
    {
        @Html.Partial("PupilEditor", new PupilViewModel { IdClass = Model.Id })
    }
</div>
<div class="col-md-6 float-right">
    @{ Html.RenderAction("TeachersByClass", "Teacher", new { id = Model.Id }); }
    @using (Html.BeginForm())
    {
        
        <input type="submit" value="Add"/>
    }
</div>