@model test.Models.ViewModels.SchoolClassViewModel

<div class="jumbotron">
    @Html.DisplayNameFor(x => x.Name)
    @Html.EditorFor(x => x.Name)
    <br>
    @Html.ValidationMessageFor(x => x.Name)
    <br>
    <input type="submit" value="Add" class="btn-primary" />
</div>