@model test.Models.ViewModels.SchoolClassViewModel

<div>
    @Html.DisplayNameFor(x => x.Name)
    @Html.EditorFor(x => x.Name)
    <br>
    @Html.ValidationMessageFor(x => x.Name)
    <br><br>
    <input type="submit" value="Submit" class="btn-primary" />
</div>