@using test.Models.ViewModels
@model SchoolClassViewModel
@{
    ViewBag.Title = "Edit Class";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Class</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("AddClass", Model)
}