@using test.Models.ViewModels
@{
    ViewBag.Title = "Home Page";
    @model IEnumerable<SchoolClassViewModel>
}

<div class="row">
    <table class="col-md-12">
        <thead>
            <tr>
                <td>Name</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (SchoolClassViewModel item in Model)
            {
                @Html.Partial("SchoolClassView", item)
            }
        </tbody>
    </table><br><br>
    @Html.Partial("AddClass",new SchoolClassViewModel())
</div>